* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.bg-transparent {
  background: transparent !important;
}


.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .2s
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0
}

.page-enter-to,
.page-leave,
.layout-enter-to,
.layout-leave {
  opacity: 1
}

.iconfont {
  font-size: 20px;
  margin: 0px 4px;
}
